@tailwind base;
@tailwind components;
@tailwind utilities;

/*generales*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 135rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*colores*/
.bg-primary {
  background: #91b739;
}
.txt-primary {
  color: #91b739;
}

.bg-white {
  background-color: #ffffff;
}
.txt-white {
  color: #ffffff;
}

.bg-black {
  background-color: #000000;
}
.text-black {
  color: #000000;
}
