@tailwind base;
@tailwind components;
@tailwind utilities;

/*generales*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 135rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*colores*/
.bg-primary {
  background: #91b739;
}
.txt-primary {
  color: #91b739;
}
/*hero*/
.hero {
  background-image: url(https://res.cloudinary.com/dwvchf8al/image/upload/v1677614722/Demo_day_RROP/banner_gtahgz.png);
  width: 100%;
  height: 80vh;
}
